<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EM"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OfficeWorkerMapper">

	<select id="selectNameSalary" resultType="com.example.demo.domain.OfficeWorker">
		select
			name,
			position,
			basicsalary,
			CASE WHEN position = 'Administrater'
				THEN basicsalary * 1.25
				ELSE basicsalary
			END AS basicSalaryAddPositionAllowance
		from
		salaryinfo,
		userinfo
		WHERE
		salaryinfo.id = userinfo.id
	</select>
</mapper>