<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EM" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SalaryInfoMapper">

	<select id="selectAll" resultType="com.example.demo.domain.SalaryInfo">
		select
			*
		from
			salaryinfo
		order by id asc
	</select>

	<delete id="deleteData">
		delete
		from
			salaryinfo
		where
			id = #{id}
	</delete>

	<insert id="insertSalaryInfo">
		insert into
			salaryinfo(
				id,
				position,
				basicsalary)
		values (
			#{salaryInfoToInsert.id},
			#{salaryInfoToInsert.position},
			#{salaryInfoToInsert.basicSalary})
	</insert>

	<update id="updateSalaryInfo">
		update
			salaryinfo
		set
			position = #{position},
			basicsalary = #{basicSalary}
		where
			id = #{id}
	</update>

</mapper>